    

    <nav class="navbar sticky-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Logger</a>
      <div>
        <a class="navbar-brand" id="login">Login</a>
        <a class="navbar-brand" id="register">Register</a>
      </div>
    </nav>