body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.main-container {
	padding: 50px;
}

.container h3 {
	margin-top: 40px;
}

.dropdown-toggle {
	margin-top: 5px;
}

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }

